<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @river, partial: "card", as: :river %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "rivers/river_rapids" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "rivers/river_pictures" %>
  </div>
</div>
