<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    River
  </div>

  <ul class="list-group list-group-flush">
    <% @picture.river.each do |river| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/rivers/<%= river.id %>">
          <%= river %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
