<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @picture, partial: "card", as: :picture %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "pictures/picture_comments" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "pictures/picture_likes" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "pictures/picture_river" %>
  </div>
</div>
