<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @rapid, partial: "card", as: :rapid %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "rapids/rapid_pictures" %>
  </div>
</div>
  <!-- Show Page Customization end -->
